<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <% if flash[:alert] %>
        <% flash[:alert].each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>
    <form action="/users" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <br>
        <label>First Name: <input type="text" name="first_name"></label>
        <br>
        <label>Last Name: <input type="text" name="last_name"></label>
        <br>
        <label>Email: <input type="text" name="email"></label>
        <br>
       <input type='submit' value='Create'>
    </form>
    <h1>Listing Users</h1>
    <table>
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
            </tr>
        <% end %>  
        </tbody>
    </table>
</body>
</html>